# Server Configuration
PORT=3000

# MongoDB Configuration Connection URI
MONGODB_URI="mongodb+srv://luuphuc009_db_user:M<db-password>@cluster0.eabkjel.mongodb.net/sudoku_gazette?retryWrites=true&w=majority&appName=Cluster0"

# GEMINI_API_KEY: Optional for local use
GEMINI_API_KEY=""

# APP_URL: The URL where this app is hosted. Falls back to request host if empty.
APP_URL="http://localhost:3000"

# Node Environment
NODE_ENV=production
